@import './../sass/simple-grid';

/* CSS GROUPING GUIDE (line between each)
Positioning
Display & Box Model
Color
Text
Other
*/

/* CSS GRID GUIDE
card
  container
    row
      col-x
*/

$dark-primary : #455A64;
$text-icons: #ffffff; 
$primary-text: #212121;
$light-primary: #cfd8dc;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #e2e1e0;

  text-align: center;
}

.card {
  position: relative;

  display: inline-block;
  border-radius: 2px;

  background: #fff;

  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1 {
    z-index: 1;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card1-hover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
    z-index: 2;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
    z-index: 3;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
    z-index: 4;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
    z-index: 5;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@mixin side-drawer-right-shadow{
    z-index: 6;

    box-shadow: -30px 20px 76px rgba(0,0,0,0.35), 0px 20px 25px rgba(0,0,0,0.22);
}

.side-drawer-right{
    @include side-drawer-right-shadow;
}



#top-bar{
    position: relative;

    display: block;
    width: 100%;
    height: 2em;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;

    background-color: $dark-primary;

    font-size: 1.5em;

    #name{
        float: left;

        div{
            margin: 0.25em;
            color: $text-icons;
        }
    }

    #links{
        float: right;

        text-align: right;

        transition: all 0.5s cubic-bezier(.25,.8,.25,1);

        div{
            display: inline-block;
            height: 1.5em;
            width: 1.5em;
            margin: 0.25em;

            color: $text-icons;

            &#hamburger{
                transition: all 0.25s cubic-bezier(0.25,0.8,0.25,1);
            }

            //
            // medium to large screens
            //
            @media screen and (min-width: $breakpoint-small){
                &#hamburger{
                    display: none;
                }
            }
        }

        //
        // small screens
        //
        @media screen and (max-width: $breakpoint-small){
            &.collapsed{
                div:not(#hamburger){
                    display: none;
                }

                div#hamburger{
                    display: inline-block;
                }
            }
            &.expanded{
                position: fixed;
                right: 0;
                top: 0;
                float: none;

                width: 3em;
                height: auto;
                padding-right: 1em;

                background-color: $light-primary;    

                @include side-drawer-right-shadow;

                div{
                    display: inline-block;

                    &#hamburger{
                        transform: rotate(90deg);

                    }
                }
            }
        }
    }
}

#title{
    position: relative;
    vertical-align: top;

    display: block;
    padding: 2em;

    background-color: $text-icons;
    color: $primary-text;

    .collapsed-only{
        display: none;
    }

    &.collapsed{
        padding: 0.5em;

        .expanded-only{
            display: none;
        }
        .collapsed-only{
            display: inline;
        }
    }
}

.collapse-btn-container{
    width: 100%;

    text-align: right;

    .collapse-btn{
        display: inline-block;
       
        width: 1.5em; 
    }
}

