@import './../sass/simple-grid';

/* CSS GROUPING GUIDE (line between each)
@imports
$variables
@keyframes
@includes
animations
Positioning
Display & Box Model
Color
Text
Other
*/

/* CSS GRID GUIDE
card
  container
    row
      col-x
*/

$dark-primary : #455A64;
$text-icons: #ffffff; 
$primary-text: #212121;
$light-primary: #cfd8dc;
$accent-color: #03A9F4;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #e2e1e0;

  text-align: center;
}

.card {
  position: relative;

  display: inline-block;
  border-radius: 2px;

  background: #fff;
}

.card-1 {
    z-index: 1;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-1-hover:hover {
    transition: box-shadow 0.35s cubic-bezier(0.25,0.8,0.25,1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
    z-index: 2;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
    z-index: 3;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
    z-index: 4;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
    z-index: 5;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@mixin side-drawer-right-shadow{
    z-index: 6;

    box-shadow: -30px 20px 76px rgba(0,0,0,0.35), 0px 20px 25px rgba(0,0,0,0.22);
}

.side-drawer-right{
    @include side-drawer-right-shadow;
}



#top-bar{
    position: fixed;

    display: block;
    width: 100%;
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;

    background-color: $dark-primary;

    font-size: 1.5em;

    #name{
        float: left;

        div{
            margin: 0.25em;
            color: $text-icons;
        }
    }

    #links{
        @import './../sass/animations/topbar-links.scss';

        float: right;

        text-align: right;

        div{
            display: inline-block;
            height: $icon-size;
            width: $icon-size;
            margin: $icon-margin;

            color: $text-icons;

            &#hamburger{
                transition: transform 0.25s cubic-bezier(0.25,0.8,0.25,1);
            }

            //
            // medium to large screens
            //
            @media screen and (min-width: $breakpoint-small){
                &#hamburger{
                    display: none;
                }
            }
        }

        //
        // small screens - drawer only shows on this size
        //
        @media screen and (max-width: $breakpoint-small){
            &.collapsed{
                div:not(#hamburger){
                    display: none;
                }

                div#hamburger{
                    display: inline-block;
                }
            }
            &.expanded{

                animation: links-grow 0.35s 0s 1 cubic-bezier(1,.015,.295,1.225) normal forwards;

                position: fixed;
                right: 0;
                top: 0;
                float: none;

                width: $icon-size+(2*$icon-margin)+$drawer-padding;
                padding-right: $drawer-padding;

                div{
                    animation: links-icon-grow 0.25s 0s 1 cubic-bezier(1,.015,.295,1.225) normal forwards;

                    display: inline-block;

                    &#hamburger{
                        animation: hamburger-fade 0.25s 0.2s 1 cubic-bezier(1,.015,.295,1.225) normal forwards;
                        transform: rotate(90deg);

                    }
                }
            }
        }
    }
}

#title{
    @import './../sass/animations/title.scss';

    position: relative;
    display: block;

    padding: 2em;
    padding-top: $padding-top;

    background-color: $text-icons;
    color: $primary-text;

    #portrait{
        position: absolute;
        top: $padding-top;
        left: 0em;
        right: 0em;

        margin: auto;

        i svg{height: $portrait-size-exp-sm;}
    }

    #info{
        text-align: center;

        #bio{margin-top: 0.1em;}
    } 

    #experience{
        background-color: $accent-color;
        p{color: $text-icons;} 

        &.linking{
            background-color: red;
        }
    }

    &.collapsed{
        animation: title-collapse-sm $collapse-time 0s 1 cubic-bezier(1,.015,.295,1.225) normal forwards;
        #portrait{
            animation: portrait-collapse-sm $collapse-time 0s 1 cubic-bezier(1,.015,.295,1.225) normal forwards;
            i svg{
                animation: portrait-svg-collapse-sm $collapse-time 0s 1 cubic-bezier(1,.015,.295,1.225) normal forwards;
            }
        }
        #info{
            animation: info-collapse-sm $collapse-time 0s 1 cubic-bezier(1,.015,.295,1.225) normal forwards;

            #bio{
                margin-top: 1em;
                margin-bottom: 99em;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                
            }
        }
    }
    &.expanded{
        animation: title-expand-sm $collapse-time 0s 1 cubic-bezier(1,.015,.295,1.225) normal forwards;
        #portrait{
            animation: portrait-expand-sm $collapse-time 0s 1 cubic-bezier(1,.015,.295,1.225) normal forwards;
            i svg{
                animation: portrait-svg-expand-sm $collapse-time 0s 1 cubic-bezier(1,.015,.295,1.225) normal forwards;
            }
        }
        #info{
            animation: info-expand-sm $collapse-time 0s 1 cubic-bezier(1,.015,.295,1.225) normal forwards;
        }
    }
}

.collapse-btn-container{
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    z-index: 99;

    width: 100%;

    text-align: right;

    &.collapsed .collapse-btn{
            transform: rotate(180deg);
    }

    .collapse-btn{
        display: inline-block;
       
        width: 1.5em; 

        transition: all 0.25s cubic-bezier(0.25,0.8,0.25,1);
    }
}

input[type="button"]{
    border: none;
    border-radius: 2px;

    font-size: 1em;

    color: white;
    background: none;
    background-color: $accent-color;
}